/* === Global Styles === */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;

    font-family: 'Arial', sans-serif;
    color: #000;
    background-color: #f9f9f9;
}

/* === Header Styles === */
header {
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #ccc;
    position: relative;
    border-radius: 5px;
    flex-wrap: nowrap;
    overflow: hidden;
}

/* -- Logo Styles -- */
.logo {
    display: flex;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    justify-content: center;
    transform: translateX(-50%);
    max-width: 300px;
    width: 20vw;
}

.logo img {
    height: 50px;
    width: 100%;
    display: block;
}

.header-nav-left, .header-nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.gender-btn, .icon, .icon-search {
    vertical-align: middle;
    height: 30px;
}

.gender-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 16px;
    margin: 0 5px;
    height: 40px;
}


.gender-btn.active {
    background-color: #333;
    color: white;
    border-color: #333;
}

.gender-btn.active:hover {
    background-color: #555;
    color: white;
    border-color: #555;
}

.gender-btn:hover {
    background-color: #ddd;
    border-color: #aaa;
}

/* --- Account and Icon Styles --- */
.icon-search {
    width: 30px;
    height: auto;
    margin-left: 20px;
}

.header-nav-right img.icon {
    width: 30px;
    height: auto;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.header-nav-right img.icon:hover {
    transform: scale(1.1);
}

/* === Navigation Styles === */
.header-categories {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.header-categories ul {
    list-style: none;
    padding: 0;
    margin: 5px;
    display: flex;
    gap: 10px;
}

.header-categories ul li {
    height: 40px;
    display: inline-block;
}

.header-categories ul li a {
    text-decoration: none;
    padding: 10px;
    background-color: #ccc;
    border-radius: 5px;
}

.search-link {
    margin-left: auto;
    margin-right: 20px;
}

nav {
    margin-top: 10px;
    text-align: center;
}

nav a {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    background-color: #ccc;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

nav a:hover {
    background-color: #ddd;
    transform: scale(1.05);
}

/* === Main styles === */

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* === Products Styles === */
.products {
    width: 100%;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding-right: 20px;
}

.product-link {
    text-decoration: none;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    z-index: 1;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 10px;
    width: 100%;
}

.product-info {
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
    margin-left: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-card h3 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.product-card .product-description {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
    line-height: 1.2;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: right;
    white-space: nowrap;
}

/* === Icon Buttons === */
.card-icons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 17px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5
}

.like-btn, .cart-btn {
    background-color: transparent;
    height: 40px;
    width: auto;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.3s ease;
}

.like-btn img, .cart-btn img {
    border-radius: 0;
    width: 30px;
    height: 30px;
}

.like-btn:hover img, .cart-btn:hover img {
    transform: scale(1.2);
}

/* === Hover effects === */
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0;
}

.product-card:hover img {
    transform: scale(1.05);
}

.product-card:hover h3 {
    color: #555;
}

/* === Footer Styles === */
footer {
    margin-top: auto;
    background-color: #f0f0f0;
    text-align: center;
    width: 100%;
}

.ad-banner {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}


@media (max-width: 850px) {
    .ad-banner {
        display: none;
    }

    .logo {
        display: none;
    }

    .gender-btn {
        padding: 5px 5px;
        display: flex;
    }
}

@media (max-width: 400px) {
    .gender-btn {
        display: none;
    }

    .icon-search {
        margin-left: 0;
    }

    .header-nav-right {
        margin: 0;
    }
}

/* === Search Section Styles === */
.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#search-input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#search-btn {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-btn:hover {
    background-color: #555;
}

.categories-nav {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.categories-nav ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.category-btn {
    padding: 10px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 14px;
}

.category-btn:hover {
    background-color: #ddd;
    border-color: #aaa;
}

.search-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
}

#search-bar {
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
}

.category-filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

.category-filters label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: normal;
}

#reset-filters-btn {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}


#reset-filters-btn:hover {
    background-color: #555;
}

/* product-page */
.product-page-detail {
    display: flex;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
}

.product-page-info {
    flex: 2;
    padding-right: 20px;
}

.product-page-price-block {
    flex: 1;
    text-align: right;
}

.product-page-name {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-page-category {
    margin-top: 0;
    color: #333;
}

.product-page-category,
.product-page-description {
    margin-bottom: 15px;
    font-size: 1.1em;
}

.product-page-price {
    font-size: 2em;
    color: #333;
}

.product-page-buttons {
    display: flex;
    gap: 15px;
}

.product-page-add-to-cart-btn, .product-page-add-to-liked-btn {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: white;
}

.product-page-add-to-cart-btn:hover, .product-page-add-to-liked-btn:hover {
    background-color: #555;
    color: white;
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.product-page-images {
    flex: 2;
    position: relative;
}

.product-page-main-image-container {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

.product-page-main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 8px;
}

.product-page-main-image:hover {
    transform: scale(1.05);
}

.product-page-additional-images {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.product-page-additional-images img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: transform 0.3s ease;
}

.product-page-additional-images img:hover {
    transform: scale(1.1);
}

/* Модальное окно для полноэкранного просмотра */
.image-modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.image-modal .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
